.sm {
  height: 1.7rem;
  width: 1.7rem;
}

.md {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 25px;
  font-size: 1.3rem;
  line-height: 2.3rem;
  text-align: center;
  color: white;
}

.lg {
  height: 3.2rem;
  width: 3.2rem;
}
